.entire{
    display: block;
    height: 100vh;
    align-content: center;

}

.entire h1{
    font-size: 40px ;
}

.container{
    
    display: block;
    justify-self: center;
    padding: 30px;
    border-radius: 12px;
    background-color: pink;
}

button{
    padding: 12px;
    font-size: 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-radius: 8px;
    margin: 15px;
    cursor: pointer;
}

button:hover{
    box-shadow: 12px 10px 2px rgb(237, 176, 188);
}

#noBtn{
    border: rgb(255, 238, 238) solid;
    color: white;
    background-color: rgb(251, 204, 212);
}





.noReminder{

    margin-left:200px;
    position: absolute;
    background: rgb(240, 210, 215);
    max-width:300px;
    padding: 20px;
    border-radius: 12px;
    transition: transform 0.3s ease , opacity 0.3s ease;
    opacity: 0;
    visibility: hidden;

}

.noReminderVisible{
    visibility: visible;
    transform: translateX(5px);
    opacity: 1;
}

.exit{
    display: none;
}


.but{
   position: absolute;
   margin-left: 120px;
   background: rgb(255, 239, 242);
   width: 200px;
   padding: 12px;
   border-radius: 12px;
   visibility: hidden;
   opacity: 0;
   transition: transform 0.2s ease-in , opacity 0.3s ease;
   
}

@keyframes butanimation{
    0%{
        transform: rotate(0deg);
    }
    25%{
        transform: rotate(-5deg);
    }

    50%{
        transform:rotate(5deg);
    }

    75%{
        transform:rotate(-5deg);
    }

    100%{
        transform: rotate(0deg);
    }
}

.butVisible{
   animation: butanimation 0.4s ease-in-out infinite;
   visibility: visible;
   transform: translateY(-20px);
   opacity: 1;
}

.ily{
    
    position: absolute;
    background-color: rgb(255, 20, 63);
    color: blanchedalmond;
    padding: 12px;
    border-radius: 12px;
    visibility: hidden;
    transition: transform 0.4s ease-in-out;
    opacity: 0;
}

.ilyVisible{
    visibility: visible;
    transform: translateY(-20px);
    opacity: 1;
}

.ily h1{
    font-size: 120px;
    margin: 0;
}

.pangarap{
    position: absolute;
    visibility: hidden;
    background-color: antiquewhite;
    padding: 20px;
    border-radius: 12px;
    animation: pangarapAnimation 5.5s ease-in-out infinite;
    
}

@keyframes pangarapAnimation{
    0%{
        
        transform: translateY(-100px) rotate(0deg)   ;
    }

    5%{
        transform: translateY(-100px) rotate(-10deg) scale(1.1);
    }

    10%{
        transform: rotate(10deg) scale(1.2);
    }

    20%{
        transform: rotate(-10deg) scale(1.2);
    }

    30%{
        transform: rotate(10deg) scale(1.2);
    }

    40%{
        transform: rotate(-10deg) scale(1.2);
    }

    50%{
        transform: rotate(10deg) scale(1.2);
    }

     60%{
        transform: rotate(-10deg) scale(1.2);
    }

     70%{
        transform: rotate(10deg) scale(1.2);
    }

     80%{
        transform: rotate(-10deg) scale(1.2);
    }

     90%{
        transform: rotate(10deg) scale(1.2);
    }

     100%{
        transform: rotate(0deg) translateY(-100px);
    }
}



.pangarapVisible{
    visibility: visible;
    
}

.btnContainer{
    align-content: center;
    justify-self: center;
    height: 20vh;
}
